<!DOCTYPE html>
<html>
    <head>

        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="http://files.mead.io/1079631c29ea/weather.png">
    </head>
    <body>
        <div class="main-content">
            <h1> {{message}}</h1>
            {{>header }}
        </div>
        
        {{>footer}}
    </body>
</html>